*{
    margin: 0;
    padding: 0;
}
.startPage{
    width: 100%;
    z-index: 999;
    height: 800px;
    position: absolute;
    top:0;
    left: 0;
    /*display: none;*/

}
.startBtn{
    background-image: url("../img/startGame.png");
    height: 170px;
    width: 200px;
    background-size: 100% 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}
.wrapper{
    width: 100%;
    height: 800px;
    background-image:url("../img/bg.jpg");
    background-size: 100% 100%;
    position: relative;


}
.left-side{
    position: absolute;
    width: 24%;
    height: 800px;
    border-right: black 1px solid;
}
.left-side img{
    /*display: none;*/
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
}
.main{
    position: absolute;
    left: 25%;
    width: 50%;
    height: 90%;
    border: 1px solid red;
}
.header{
    width: 100%;
    height: 80px;
    text-align: center;
    color: aliceblue;

}
.score{
    line-height: 80px;
    font-size: 20px;
    font-weight: bolder;
}
.content{
    position: absolute;
    width: 79.5%;
    height: 36.5%;
    left: 10%;
    top:34%;
    border: 1px solid blue;
}
.loser{
    display: none;
    height: 300px;
    top:0;
    left:0;

}
.con{
    background-image: url("../img/startP.jpg");
    background-size: 100% 100%;
    height: 280px;
    width: 380px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
}
.loserScore{
    display: block;
    width: 30px;
    height: 40px;
    position: absolute;
    top: 42%;
    left: 40%;
    font-weight: bolder;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width:40px;
    background-image: url("../img/closeBtn.png");
    background-size: 100% 100%;
    cursor: pointer;
}
.food{
    background-image: url("../img/apple.png");
    background-size: 100% 100%;

}
.head{
    background-image: url("../img/head.png");
    background-size: 100% 100%;

}
.body{
    background-image: url("../img/body.png");
    background-size: 100% 100%;

}
